html, body {
	height: 100%;
	width: 100%;
	cursor: url("images/rocketbook logo small.png"), auto;
}

a:link, a:visited {
	background-color: transparent;
}

img.imgHover:hover {
	background-color: rgba(200, 200, 200, 0.2);

	border-radius: 20px;

	cursor: url("images/rocketbook logo small.png"), auto;

}

img, .cursor {
	align-content: center;
	width: 556px;
	height: 202.5px;
	padding: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -116.125px;
	margin-left: -288px;
}

.cursorFullscreen {
	height: 200%;
	transform: rotate();

}
